fastapi
uvicorn
typer[all]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-ollama
langchain-core
langchain-openai
langchain-nvidia-ai-endpoints
chromadb
openai
transformers
accelerate
torch
bitsandbytes
pytest
python-multipart
